<ul>
    {% if autocomplete_results|length > 0 %}
        {% for result in autocomplete_results %}
            <li data-id="{{ result.id }}">{{ result.name }}</li>
        {% endfor %}
    {% else %}
        <li>Aucun résultat</li>
    {% endif %}
</ul>
