{% extends "@RibsAdmin/base.html.twig" %}

{% block nav_page %}
    {% include "@AgriGestion/admin/top_nav.html.twig" %}
{% endblock %}

{% block body %}
    {% if ribsadmin_acces_right.testRight("agrigestion@admin@providers@create") == true %}
        <div class="top-links">
            <a href="{{ path('agrigestion_admin_provider_create') }}" class="ribs-button">Créer un fournisseur</a>
        </div>
    {% endif %}
{% endblock %}
